.card img{
 width: 100%;
    height: 140px;
   border-radius: 10px;
    display: flex;
  justify-items: center;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.heeea{
    background-color: rgb(0, 162, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center
}
.heeea img{
    width: 60px;
    height: 60px;


}
.tel{
    display: flex;
    flex-direction: row;
}
.card{
 padding: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 10px 10px 20px gray;
  padding-left: 12PX;
  background-color: rgb(205, 237, 255);
  
}
.card:hover{
    border: 2px solid rgb(0, 0, 0);
    
}
.reee a:hover{
    color: rgb(4, 0, 255);
}

.reee{
    color: aliceblue;
    background-color: black;
    padding: 10px;
    display: flex;
    padding-left: 0px 10px;
    justify-content: center;
    

}
.reee a{
    margin: 0px 20px;
    
}
.yes{
    padding-top:  100px;
    text-align: center;

}
button{
    background-color: rgb(0, 174, 255);
    border-radius: 7px;
    border: 1px ;
    width: 100px;
    height: 35px;

    
}
button:hover{
    color: black;
    background-color: rgb(0, 0, 0);
   
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 70px;
    display:flex ;
    align-items: center;
    justify-content: center;
}
 @media screen and (max-width:500px) {

            .card{
                width: 12rem;
            }
            .card-img-top{
                width: 100PX;
                height: 100px;
            }
        }
        